
.SiteName
{

	font-style:oblique;
}
.Заголовок
{	
    color:Orange;    
    font-size:22px;
    font-style: oblique;    
    clear:both;
}
.НеділяВихідний
{
    color:#c00000;
    text-decoration:underline;
    
}
.Потелефону,.Інтернетом
{
    font-size:12px;
    color:Orange;
}