body
{
}

.txtUserName,.txtDescription,.txtEmailAddress,.txt
{
	margin:5px;
	padding:5px;
	border:1px outset black;
	outline:0;
	height:25px;
	width:275;
	
}
	
txtUserName:-webkit-input-placeholder
{
	color:#F8D568;
}